.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
  background-color: #fafafa;

  &__item {
    list-style-type: none;
    flex: 1 0 33%;
    padding: 10px;
    box-sizing: border-box;
  }

  &__img {
    width: 100%;
  }
}