#app {
  display: flex;
  flex-flow: nowrap;  
  max-width: 100vw;
}

.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;
  background-color: #fafafa;
  max-width: 50vw;

  &__item {
    list-style-type: none;
    flex: 1;    
    padding: 10px;
    box-sizing: border-box;
  }

  &__img {
    max-width: 100%;
  }
}