#app {
  display: flex;
  flex-flow: nowrap;  
  max-width: 100vw;
}

.container {
  display: flex;
}

.grid {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap column;
  background-color: #fafafa;
  width: 50vw;

  &__item {
    list-style-type: none;
    flex: 1;    
    padding: 10px;
    box-sizing: border-box;
  }

  &__img {
    max-width: 100%;
  }

  &-list {
    list-style-type: none;
    padding: 20px;
  }

  &__title {
    text-align: center;
  }
}

.btn-more {
  height: 50px;
  width: 100%;
  background-color: #dedede;
  border: #666;
}

.link-container {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;

  &__item {
    display: flex;
    margin: 0;

    a {
      padding: 20px
    }
  }
}